body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2f3e46; /* Arkaplan rengi */
}

.container {
  display: flex;
}

.form-container,
.list-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #52796f; /* Başlık rengi */
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
}

input,
button {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

button {
  cursor: pointer;
  background-color: #52796f; /* Button rengi */
  color: #ffffff; /* Button yazı rengi */
  border: 1px solid #cad2c5;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ced4da; /* Hover rengi */
  color: #52796f;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input {
  margin-right: 10px;
}

.checkbox-container label {
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #f8f9fa;
  transition: transform 0.3s;
}

li:hover {
  transform: scale(1.02);
}

li strong {
  margin-right: 10px;
  color: rgb(62, 107, 100); /* Yazı rengi */
}
